.logo{
  font-family: 'Bitter', serif!important;

}

p{
  font-family: arial, halvetica, sans-serif;
}
.carousel-size{
  width: 100%!important;
  height: 500px!important;
}


.ser-height {
  height: 170px!important;
}
.img-border{
  border-radius:5px;
}


.float {
        position: fixed;
        width: 75px;
        height: 75px;
        bottom: 80px;
        right: 30px;
        /*background-color: #25d366;*/
        color: green!important;
        border-radius: 50px 50px 50px 0px;
        text-align: center;
        font-size: 50px;
        /*box-shadow: 2px 2px 3px #999;*/
        z-index: 1;

    }
    @media (max-width: 500px){
    .float {
        right: 10px;
        bottom: 40px!important;
    }
    .float {
        position: fixed;
        width: 50px;
        height: 60px;
        bottom: 80px;
        right: 0px;
        /*background-color: #25d366;*/
        color: green!important;
        border-radius: 50px 50px 50px 0px;
        text-align: center;
        font-size: 32px;
        /*box-shadow: 2px 2px 3px #999;*/
        z-index: 100;
    }
    }

@media (max-width: 500px){
      .imgsize1 {
        width: 280px!important;
      }
      .card-size {
        width: 280px!important;
      }
    }

    @media (max-width: 768px){
      .imgsize1 {
        height: 550px!important;
      }
    .ser-size{
      font-size: 20px;

    }
    }

    @media (max-width: 1024px){
      .imgsize1 {
        height: 450px;
      }
      .ser-font {
        font-size: 19px;
      }
    }

#footer{
  text-align: right;
  }

@media (max-width: 500px){
  #footer{
  text-align: center;
}
}

@media (max-width: 500px){
.footer-font{
 font-size: 14px;
}
}

@media (max-width: 768px){
.footer-font{
 font-size: 14px;
}
}

@media (max-width: 1024px){
.category-sec{
  padding-top: 50px;
}
}
.top-space {
  padding: 10px 0px!important;;
}



